@import "tailwindcss";

:root {
  --background: #fafbf8;
  --foreground: #171717;
}
* {
  box-sizing: border-box;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-400: #424340;
  --color-red-600: #d53f41;
  --color-grey-400: #dbd8d6;
  --color-cream-200: #bebbbf;
  --font-sans: var(--font-garamond);
  /* --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Cormorant Garamond", serif;
  margin: 0;
  padding: 0;
  cursor: none;
  overflow-x: hidden;
}

@layer base {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }
}

/* .gallery-counter{
  mix-blend-mode: difference;
} */
.gallery-item {
  will-change: transform;
}

.gallery-item-info {
  transform: translateX(-20%);
}
.gallery-item-subtext {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  --webkit-text-stroke: 2px #dbd8d6;
}

.gallery-item-wrapper {
  aspect-ratio: 16/9;
  height: 100%;
  display: grid;
  grid-template-columns: 20vw 1fr 200px;
  width: 100vw;
}

.gallery-item-wrapper.is-inview .gallery-item-image {
  transform: scale(1);
  filter: none;
}


.gallery-item-image {
  background-size: cover;
  background-position: center;
  transform-origin: center;
  width: 100%;
  height: 100%;
  will-change: transform;
  transform: scale(0.6);
  transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  filter: grayscale(100%) sepia(20%) brightness(80%);
}


#header-text,
#header-text-2{
  transform: translate(0, 500px);
}

.featured-img{
  clip-path: inset(100% 0% 0% 0%);
  transition: clip-path 1s cubic-bezier(0.077, 0, 0.175, 1);
}
#about-text{
  opacity:0;
  clip-path: inset(0% 0% 100% 0%);
  transition: clip-path 3s cubic-bezier(0.077, 0, 0.175, 1);
}
.featured-img.is-inview, #about-text.is-inview{
  opacity: 1;
  clip-path: inset(0% 0% 0% 0%);
}

